{% extends "site_app/global/base.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <form action="{% url 'criar' %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome completo" />
        <input type="text" name="email" placeholder="example@example.com" />
        <input type="number" name="ani" placeholder="Sua idade" />
        <input type="text" name="pais" placeholder="Pais de origem" />
        

        <button type="submit">Salvar</button>
    </form>
        <div>
            {% if nome %}
                <h1> Dados obtidos: </h1>
                <p>{{nome}} {{email}} {{ani}} {{pais}}</p> 
            {% endif %}
    
            {% if dados %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Aniversário</th>
                    <th>Pais</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for row in dados %}
                    <tr>
                        <td width="27%">{{row.id}}</td>
                        <td width="27%">{{row.nome}}</td>
                        <td width="27%">{{row.email}}</td>
                        <td width="27%">{{row.ani}}</td>
                        <td width="27%">{{row.pais}}</td>
                        <td width="25%"><a class="btn btn-danger" href="{% url "deletar_id" row.id %}">Deletar</a> <a class="btn btn-primary" href="{% url "atualizar_id" row.id %}">atualizar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %} 
        </div>
</div>
{% endblock content %}

